
<header class="bg-gray-800 py-4">
  <div class="container mx-auto flex justify-between items-center">
   
    <h1 class="text-white text-2xl font-semibold">CricketLive</h1>

    
    <nav class="space-x-4">
      <a [routerLink]="'/home'" href="#" class="text-white hover:text-gray-400">Home</a>
      <a [routerLink]="'/live'" href="#" class="text-white hover:text-gray-400">Live Score</a>
      <a [routerLink]="'/history'" href="#" class="text-white hover:text-gray-400">History</a>
      <a [routerLink]="'/point-table'" href="#" class="text-white hover:text-gray-400">Point Table</a>
    </nav>
  <div></div>
  </div>
</header>

<div class="px-28 py-10"><router-outlet></router-outlet>
</div>

